<h1>Showing Selected Article</h1>

<p>
	Title: <%= @article.title %>
</p>
<p>
	Description: <%= @article.description %>
</p>
<%= link_to 'back', articles_path , class: "btn btn-default btn-sm"%> |
<%= link_to 'Edit this article', edit_article_path , class: "btn btn-default btn-sm"%> |
<%= link_to 'new article', new_article_path, class: "btn btn-default btn-sm" %> |